#git ignore file for CppProjects

#ignore all .out files recursively
**/*.out

#ignore all .log files
**/*.log

#ignore all .aux files
**/*.aux

#ignore all .swp files
**/*.swp

**/*.json

#ignore all Threedy files
**/Threedy*

#ignore .cache
**/.cache/

#ignore DownloadedProjects
DownloadedProjects/

#ignore build folders
**/build/
